
<div id="content">
<div class="widget-box">
  <div class="widget-title"> <span class="icon">
    <input type="checkbox" id="title-checkbox" name="title-checkbox" />
    </span>
    <h5>Courses</h5>
  </div>
  <div class="widget-content nopadding">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><i class="icon-resize-vertical"></i></th>
          <th>ID</th>
          <th>Name</th>
          <th>Total Class Hours</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <% @courses.each do |d| %>

          <td><input type="checkbox" /></td>
          <td><%= d.id %></td>
          <td><%= d.name %></td>
          <td><%= d.total_class_hour %></td>

        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
</div>
