




<div id="sidebar"><a href="/dashboard" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li><a href="/dashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li> <a href="/students"><i class="icon icon-signal"></i> <span>Students</span></a> </li>
    <li> <a href="/courses"><i class="icon icon-inbox"></i> <span>Courses</span></a> </li>
    <li><a href="/cohorts"><i class="icon icon-th"></i> <span>Cohorts</span></a></li>
    <li><a href="/instructors"><i class="icon icon-fullscreen"></i> <span>Instructors</span></a></li>


    </li>
  </ul>
</div>
<!--sidebar-menu-->
